---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Footer from '../components/Footer.astro'

import Header from '../components/Header.astro';

import ComponenteRandom from '../components/ComponenteRandom.astro';
import Eventos from '../components/Eventos.astro';
import Volver from '../components/Volver.astro';

---

<Layout title="¡Bienvenido a Comunidad Clan! - Somos Clan">

	<!--<Header textColor='text-white' bg='' fixed='fixed' top='top-0'/> -->
	<div class="bg-[url(../bg-01.png)] bg-fixed bg-cover bg-no-repeat">
		<Header />
		<Hero />
		<Eventos mes='Agosto'/>
		<ComponenteRandom />
		<Footer />
		<Volver />
	</div>

		
	
	
	
</Layout>

