---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Nosotros from '../components/Nosotros.astro'
import Volver from '../components/Volver.astro';
import TextSobreNosotros from '../components/TextSobreNosotros.astro'

---

<Layout title="Sobre Nosotros - Comunidad Clan">

    
    <div class="bg-[url('../public/bg-img-02.jpg')] bg-cover h-screen">
        <Header top='top-0' fixed='fixed'/>
        <div class="flex justify-center text-center items-center h-3/4">
            <h1 class="text-white text-3xl md:text-7xl drop-shadow-2xl hover:animate-pulse cursor-default pt-10">Quienes Somos</h1>
        </div>
        
        
    </div>
    <div class="bg-[url('https://images.unsplash.com/photo-1712145176725-673500482322?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8d2hpdGUlMjBwYXBlciUyMHRleHR1cmV8ZW58MHx8MHx8fDA%3D')] bg-cover bg-scroll w-full">
        <TextSobreNosotros text=' ipsum dolor sit amet, consectetur adipiscing elit. Cras non facilisis lorem, non efficitur orci. Integer ac pretium nisi, quis sodales nulla. In tincidunt ex vitae eleifend luctus. Vivamus viverra vitae risus quis consequat. Nunc iaculis ipsum vel hendrerit iaculis. Curabitur ut nulla mi. Pellentesque vel risus at eros fermentum convallis vitae ut arcu. ' text2='Nullam mi ligula, vulputate id vehicula ut, blandit vel libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Praesent in ex suscipit, ultrices tellus maximus, porta nisi. Phasellus fermentum non quam ac tempus. Donec et ligula ut est porta lobortis vitae vitae erat.' span='Lorem'/>
    </div>
    <div class="bg-[url('https://dg.imgix.net/the-most-repeated-verse-in-the-bible-wfq9puhm-en/landscape/the-most-repeated-verse-in-the-bible-wfq9puhm-2c238cf97d4c72a4be85c9d86448d20e.jpg?ts=1538421135&ixlib=rails-4.3.1&auto=format%2Ccompress&fit=min&w=700&h=394&dpr=2&ch=Width%2CDPR')] bg-cover h-screen">
        <div class="flex justify-center text-center items-center h-3/4">
            <h1 class="text-white  md:text-7xl drop-shadow-2xl hover:animate-pulse cursor-default text-3xl">Nuestra Misión</h1>
        </div>
    </div>

    <div class="bg-[url('https://images.unsplash.com/photo-1712145176725-673500482322?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8d2hpdGUlMjBwYXBlciUyMHRleHR1cmV8ZW58MHx8MHx8fDA%3D')] bg-cover bg-scroll w-full"   >
        <TextSobreNosotros text=' ipsum dolor sit amet, consectetur adipiscing elit. Cras non facilisis lorem, non efficitur orci. Integer ac pretium nisi, quis sodales nulla. In tincidunt ex vitae eleifend luctus. Vivamus viverra vitae risus quis consequat. Nunc iaculis ipsum vel hendrerit iaculis. Curabitur ut nulla mi. Pellentesque vel risus at eros fermentum convallis vitae ut arcu. ' text2='Nullam mi ligula, vulputate id vehicula ut, blandit vel libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Praesent in ex suscipit, ultrices tellus maximus, porta nisi. Phasellus fermentum non quam ac tempus. Donec et ligula ut est porta lobortis vitae vitae erat.' span='Lorem'/>
    </div>

    <Volver />
    <Footer />


</Layout>


<style>
    h1{
        font-family: "Playwrite CU", cursive;
    }
</style>