---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro'
import Nosotros from '../components/Nosotros.astro'


---

<Layout title="Sobre Nosotros - Comunidad Clan">

    
    <Header textColor='text-white' bg='bg-black' fixed='fixed' top='top-0'/>
    <div class="bg-[url('../public/bg-img-02.jpg')] bg-cover h-screen flex justify-center text-center items-center bg-scroll">
        <h1 class="text-white text-5xl md:text-7xl drop-shadow-2xl hover:animate-pulse cursor-default">Quienes Somos</h1>
    </div>
    
    <style>
        h1{
            font-family: "Playwrite CU", cursive;
        }
    </style>
    <Nosotros />
    <Footer />


</Layout>