---
import Cards from "./Cards.astro"
---
       
       
       <main class=""> 
            <div class="flex flex-col justify-center items-center px-4 py-10  gap-y-6 ">
                <h1 class="text-6xl font-bold mb-10 text-white text py-10 border-t-white border-t border-opacity-40">
                    <img src="../clan-worship.svg" alt="" width="700px">
                </h1>
                <div class="cards md:grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-20 text-white">

                    <div>
                        <Cards 
                            title="Egipto" 
                            url="https://www.youtube.com/embed/Yfa_9Gu4_vc?si=6jsPRHtDm_Ww6z4-&amp;start=1" 
                            año="2022"/>
                    </div>
                    
                    <div>
                        <Cards 
                            title="Apocalipsis 7" 
                            url="https://www.youtube.com/embed/znw4zDemnIA?si=vHGQW6Jozq6H8DVL" 
                            año="2023"/> 
                    </div>
                   
                    

                    



                    
                    
                </div>
            </div>
        </main>
        
        <style>
            .text{
                font-family: "Dancing Script", cursive;
            }
        </style>