---
import Cards from "./Cards.astro"
---
       
       
       <main class="bg-slate-950"> 
            <div class="flex flex-col justify-center items-center p-4">
                <h1 class="text-3xl font-semibold mb-10 text-white">Clan Worship</h1>
                <div class="cards md:grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4 text-white">
                    <div>
                        <Cards 
                            title="Apocalipsis 7" 
                            url="https://www.youtube.com/embed/znw4zDemnIA?si=vHGQW6Jozq6H8DVL" 
                            año="2023"/> 
                    </div>
                    <div>
                        <Cards 
                            title="Despierta" 
                            url="https://www.youtube.com/embed/-89zjjCSSKI?si=XIG-E9ns5b8lNR5V" 
                            año="2024"/>
                    </div>

                    <div>
                        <Cards 
                            title="Egipto" 
                            url="https://www.youtube.com/embed/Yfa_9Gu4_vc?si=6jsPRHtDm_Ww6z4-&amp;start=1" 
                            año="2022"/>
                    </div>
                </div>
            </div>
        </main>
