---
import LogoBlanco from "./LogoBlanco.astro";
---

<section class="bg-black text-white p-4">
    <div class="flex flex-col">
        <header class="flex w-3/4">
            <LogoBlanco />
        </header>
        <main class="flex justify-around">
            <div>
                <h3>Contáctanos</h3>
            </div>
            <div class="flex flex-col gap-5" >
                <h3 class="font-semibold">Inscribete a nuestro Newsletter</h3>
                <form action="" class="flex gap-4">
                    <input type="email" placeholder="Ingresa tu correo electronico" class="w-full px-4 py-3 text-black">
                    <input type="submit" value="Ingresa aquí" class="border-2 px-3 py-1 cursor-pointer" id="sbmt">
                </form>
            </div>
        </main>
        <footer class="mb-11">
            hola
        </footer>
    </div>

</section>

<script>
</script>