---
import LogoBlanco from "./LogoBlanco.astro";
---

<section class="bg-black text-white p-4">
    <div class="flex flex-col">
        <header class="flex w-3/4">
            <LogoBlanco />
        </header>
        <main class="flex justify-around">
            <div>
                <h3>Contáctanos</h3>
            </div>
            <div>
                <h3>Inscribete a nuestro Newsletter</h3>
            </div>
        </main>
        <footer></footer>
    </div>

</section>