---
import Somos from "./Somos.astro";
---

<section class="bg-black h-screen text-center relative overflow-hidden">
    <header class="z-30 absolute top-64 md:top-44 left-[54px] h-full">
        
        <!--<img src="/public/somos-clan-somos.gif" alt="" width="500px" class="">-->
        <h1 id="texto-dinamico" class="text-8xl text-left font-bold text-[#0A3A3F] w-11 transition-all"></h1>
        
    </header>
    <div class="absolute top-0 bottom-0 h-screen w-full z-10 overflow-hidden">
        <video autoplay muted loop src="/public/video.avif"  class=" bg-cover h-full w-full object-cover">
    </div>
</section>

<style>
    h1{
        font-family: "League Spartan", sans-serif;
    }
    
</style>

<script>
    const textoDinamico = document.getElementById('texto-dinamico')
    const texto = "Somos Clan, Somos Familia"
    
    
    
    function efectoTyping (elemento, texto,i = 0){
        
        elemento.textContent += texto[i]

        if (i=== texto.length-1) return

        setTimeout(() => efectoTyping(textoDinamico, texto, ++i), 150)
       
    }

    

    efectoTyping(textoDinamico, texto)


</script>