---
import Somos from "./Somos.astro";
---

<section class="bg-black h-screen text-center relative overflow-hidden">
    <header class="z-30 relative flex justify-start mx-11 p-10 items-center h-full">
        
        <img src="/public/somos-clan-somos.gif" alt="" width="500px">
        
    </header>
    <div class="absolute top-0 bottom-0 h-full z-10">
        <video autoplay muted loop src="/public/video.mp4"  class=" overflow-hidden">
    </div>
</section>