<div class="flex justify-center items-center px-20 py-36 max-w-screen-lg my-0 mx-auto ">
    <p class="font-semibold text-lg md:text-xl"><span class="text-5xl font-bold ">Lorem</span> ipsum dolor sit amet, consectetur adipiscing elit.Pellentesque mattis ut purus non eleifend. Donec et tellus libero. Pellentesque ut varius purus. Aliquam sit amet lorem ac felis lobortis feugiat. Proin vel lorem id magna sollicitudin ullamcorper. Integer non rutrum risus. <br> <br>Duis lacinia sodales erat vulputate molestie. <span class="text-3xl">Etiam</span> aliquam nibh nec felis tempor, vehicula aliquet enim varius. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus aliquam felis quis augue bibendum sollicitudin. Pellentesque lacinia lorem mi, ut fringilla felis egestas in.</p>
</div>

