---
interface Props{
    text: string
    text2: string
    span: string
}

const { text, span, text2 } = Astro.props;
---


<div class="flex justify-center items-center px-20 py-36 max-w-screen-lg my-0 mx-auto ">
    <p class="font-semibold text-lg md:text-xl"><span class="text-5xl font-bold ">{span}</span>{text}<br><br>{text2}</p>
</div>

