<div id="volver-al-inicio" class="w-10 h-10 rounded-full bg-gray-600  justify-center items-center text-2xl flex right-4 bottom-4 z-50 fixed  text-white cursor-pointer hover:scale-110 animate-bounce duration-75 ">
    <ion-icon name="arrow-up-outline"></ion-icon>
</div>
    

<style>
    #volver-al-inicio {
      opacity: 0; /* Oculto inicialmente */
      transition: opacity 0.3s ease-in-out; /* Transici칩n de opacidad */
      visibility: hidden; /* Asegura que el bot칩n no ocupe espacio cuando est치 oculto */
    }
  
    #volver-al-inicio.show {
      opacity: 1; /* Opacidad completa */
      visibility: visible; /* Hace que el bot칩n sea visible */
    }
  </style>
<script src="./js/buttonVolver.js"></script>